@import "variables"
@import "mixins"

//standard
.neon-st-st
    +neon()
    &:before
        box-shadow: $standard-color
        filter: $standard-blur
.neon-st-md
    +neon()
    &:before
        box-shadow: $standard-color
        filter: $medium-blur
.neon-st-hi
    +neon()
    &:before
        box-shadow: $standard-color
        filter: $high-blur
.neon-st-ex-hi
    +neon()
    &:before
        box-shadow: $standard-color
        filter: $ex-high-blur
//light
.neon-light-st
    +neon()
    &:before
        box-shadow: $light-color
        filter: $standard-blur
.neon-light-md
    +neon()
    &:before
        box-shadow: $light-color
        filter: $medium-blur
.neon-light-hi
    +neon()
    &:before
        box-shadow: $light-color
        filter: $high-blur
.neon-light-ex-hi
    +neon()
    &:before
        box-shadow: $light-color
        filter: $ex-high-blur
//dark
.neon-dark-st
    +neon()
    &:before
        box-shadow: $dark-color
        filter: $standard-blur
.neon-dark-md
    +neon()
    &:before
        box-shadow: $dark-color
        filter: $medium-blur
.neon-dark-hi
    +neon()
    &:before
        box-shadow: $dark-color
        filter: $high-blur
.neon-dark-ex-hi
    +neon()
    &:before
        box-shadow: $dark-color
        filter: $ex-high-blur
//success
.neon-success-st
    +neon()
    &:before
        box-shadow: $success-color
        filter: $standard-blur
.neon-success-md
    +neon()
    &:before
        box-shadow: $success-color
        filter: $medium-blur
.neon-success-hi
    +neon()
    &:before
        box-shadow: $success-color
        filter: $high-blur
.neon-success-ex-hi
    +neon()
    &:before
        box-shadow: $success-color
        filter: $ex-high-blur
//danger
.neon-danger-st
    +neon()
    &:before
        box-shadow: $danger-color
        filter: $standard-blur
.neon-danger-md
    +neon()
    &:before
        box-shadow: $danger-color
        filter: $medium-blur
.neon-danger-hi
    +neon()
    &:before
        box-shadow: $danger-color
        filter: $high-blur
.neon-danger-ex-hi
    +neon()
    &:before
        box-shadow: $danger-color
        filter: $ex-high-blur
//warning
.neon-warning-st
    +neon()
    &:before
        box-shadow: $warning-color
        filter: $standard-blur
.neon-warning-md
    +neon()
    &:before
        box-shadow: $warning-color
        filter: $medium-blur
.neon-warning-hi
    +neon()
    &:before
        box-shadow: $warning-color
        filter: $high-blur
.neon-warning-ex-hi
    +neon()
    &:before
        box-shadow: $warning-color
        filter: $ex-high-blur
//info
.neon-info-st
    +neon()
    &:before
        box-shadow: $info-color
        filter: $standard-blur
.neon-info-md
    +neon()
    &:before
        box-shadow: $info-color
        filter: $medium-blur
.neon-info-hi
    +neon()
    &:before
        box-shadow: $info-color
        filter: $high-blur
.neon-info-ex-hi
    +neon()
    &:before
        box-shadow: $info-color
        filter: $ex-high-blur