// color
$standard-color: inset 0 0 0 2000px rgba(0,0,0,0)
$dark-color: inset 0 0 0 2000px rgba(66, 66, 66, 0.4)
$light-color: inset 0 0 0 2000px rgba(225, 245, 254, 0.4)
$success-color: inset 0 0 0 2000px rgba(102, 187, 106, 0.6)
$danger-color: inset 0 0 0 2000px rgba(244, 67, 54, 0.4)
$warning-color: inset 0 0 0 2000px rgba(255, 202, 40, 0.4)
$info-color: inset 0 0 0 2000px rgba(0, 188, 212, 0.4)
$purple-color: inset 0 0 0 2000px rgba(156, 39, 176, 0.4)
// blur
$standard-blur: blur(2px)
$medium-blur: blur(4px)
$high-blur: blur(7px)
$ex-high-blur: blur(10px)