<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Neon
        link(rel="stylesheet", href="dist/neon.min.css")
        link(rel="stylesheet", href="demo/style.css")
    body
        button.neon-st-st neon standard color standard blur
        button.neon-st-md neon standard color medium blur
        button.neon-st-hi neon standard color high blur
        button.neon-st-ex-hi neon standard color extra high blur

        button.neon-dark-st neon dark color standard blur
        button.neon-dark-md neon dark color medium blur
        button.neon-dark-hi neon dark color high blur
        button.neon-dark-ex-hi neon dark color extra high blur

        button.neon-light-st neon light color standard blur
        button.neon-light-md neon light color medium blur
        button.neon-light-hi neon light color high blur
        button.neon-light-ex-hi neon light color extra high blur

        button.neon-success-st neon success color standard blur
        button.neon-success-md neon success color medium blur
        button.neon-success-hi neon success color high blur
        button.neon-success-ex-hi neon success color extra high blur

        button.neon-danger-st neon danger color standard blur
        button.neon-danger-md neon danger color medium blur
        button.neon-danger-hi neon danger color high blur
        button.neon-danger-ex-hi neon danger color extra high blur

        button.neon-warning-st neon warning color standard blur
        button.neon-warning-md neon warning color medium blur
        button.neon-warning-hi neon warning color high blur
        button.neon-warning-ex-hi neon warning color extra high blur

        button neon info color standard blur
        button neon info color medium blur
        button neon info color high blur
        button neon info color extra high blur