html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    background: url("https://images.unsplash.com/3/doctype-hi-res.jpg?auto=format&fit=crop&w=1492&q=80")fixed no-repeat;
    background-size: cover;
}
button{
    border: none;
    font-size: 18px;
    height: 75px;
    width: 314px;
    margin: 10px;
    color: rgb(25, 26, 25);
}